.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  /* background-color: rgb(226, 161, 161); */
}

.loadingLines {
  font-size: 2.5vw;
  /* background-color: rgb(149, 149, 241); */
  height: fit-content;
  padding: 17vw;
  padding-bottom: 10vh;
}

.timer{
  opacity: 0;
  animation: fadeIn 3.5s ease forwards;
  display: flex;
  gap: 0.4vw;
   font-family: "Aguafina Script", sans-serif;
  font-weight: 300;
}

.count{
  min-width: 3vw;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .timer h3 span {
  overflow: hidden;
  opacity: 1;
   display: inline-block;
  width: 3ch;
 /* height: 5vh;
  text-align: center;
  font-variant-numeric: tabular-nums;
  padding-bottom: 3px;
} */

.loadingLines h1 {
  margin: 0;
  font-weight: 500;
}

.line {
  /* background-color: green; */
  overflow: hidden;
}

.line .line1 {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 5vw;
}

/* .line1 h3 {
  margin-top: 5.2vh;
  font-family: "Aguafina Script", sans-serif;
  font-weight: 300;
} */


#lastLine{
  position: relative;
}


.fontSwitch {
  font-size: 5vw;
  position: absolute;
  top: 0vh;
  left: 47vw;
  transition: opacity 0.2s ease, font-family 0.3s ease;
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  opacity: 1;
}


.waitingRequest h6 {
  font-size: 14px;
  font-weight: 100;
  padding-left: 30vw;
}
