.page2 {
  background-color: #151515;
  height: 500vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page3 {
  /* background-color: #151515; */
  background-color: rgb(159, 175, 160);
  height: 100vh;
  width: 100%;
  /* position: relative; */
  margin: 0;
  padding: 0;
  padding-top: 5vh;
}

#page2Heading h1 {
  border-bottom: 1px solid white;
  padding-bottom: 9vh;
  margin-right: 6vh;
}

.page2-part2 {
  padding: 6vh 6vh;
  display: grid;
  grid-template-columns: 25% 33% 35%;
  column-gap: 2vw;
}

#card1 {
  width: 20.4vw;
}
#image1 {
  height: 50vh;
}
#card2 {
  width: 30vw;
}
#image2 {
  height: 80vh;
}
#downArrow {
  /* background-color: pink; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#downArrow .circleWithArrow svg{
 transform: translate(-50%, -50%) rotate(90deg); 
}


#bottomRightArrow {
  padding-top: 5vh;
}
#bottomRightArrow .circleWithArrow svg{
 transform: translate(-50%, -50%) rotate(45deg); 
}
#card3 {
  width: 30vw;
  padding-top: 13vh;
}
#image3 {
  height: 80vh;
}
#card4 {
  width: 32vw;
}
#image4 {
  height: 80vh;
}





#card5 {
  width: 20.4vw;
}
#image5 {
  height: 50vh;
}
#rightArrow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#rightArrow .circleWithArrow svg{
 transform: translate(-50%, -50%) ; 
}

#card6 {
  width: 32vw;
}
#image6 {
  height: 80vh;
}


.page2-part3{
  /* background-color: aquamarine; */
  /* height: 60vh; */
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orangeCircle{
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  background-color: #ffa63d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orangeCircle h3{
  font-weight: 200;
  font-size: 1.12vw;
}