.card{
    /* background-color: rgb(179, 231, 231); */
    width: 15rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border: 0.5px solid rgba(0, 0, 0, 0.133);
}

.grp1{
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.card .icon{
    width: 5rem;
    height: 5rem;
}
.card .icon img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.content h1{
    font-weight: 500;
    font-size: larger;
    margin-bottom: 0;
}

.content h3{
    font-size: small;
    margin-top: 0;
}
.favButton{
    display: flex;
    justify-content: center;
    margin: 1.5vh 0;
}
.favButton button{
    /* background-color: orangered; */
    border-radius: 15px;
    padding: 6px 3rem;
}



.totalFav{
    width: 12vw;
    height: 5vh;
    background-color: orangered;
    color: white;
    padding:5px 10px;
    text-align: center;
}