/* <!-- Create a progress bar that updates in real time showing the progress of a task ,download or form submission  --> */




#container{
    width: 71vw;
    height: 9vh;
    /* background-color: rgb(238 221 238); */
    margin: auto;
    margin-top: 5vh;
    border: 1px solid grey;
}


#bar{
    background-color: rgb(118, 118, 234);
    width:0%;
    max-width: 100%;
    height: 100%;
}

h1{
    font-size:200%;
    justify-self:center;
    padding:5px 20px;
    border : 1px solid black;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:10px;
}

button{
    font-size: 1rem;
}