#searchbar{
    display: block;
    margin:auto;
    width:25rem;
    height:4vh;
    border-radius: 10px;
    outline-color: rgb(156, 156, 231);
    font-size: 20px;
    font-weight: 300;
}


.box{
    display: flex;
    gap: 28px;
    margin-top: 10vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size:cover;
    background-position: center;
}



.container h3{
    justify-self: center;
    color:rgb(13, 13, 18);
}

/* //img ko width height 100% kaise dedi  */