*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html, body {
  height: 100%;
  width: 100%;
}

/* Center Section**************************************/

#center{
    padding:70px 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    border:2px solid rgb(24, 22, 22)
}


#left{
  display:grid;
  grid-template-rows: 60% 10% 30%;
  padding-left:40px;

  border:2px solid red;
}

#left-top h1{
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
}

#color{
  border:1px solid black;
  border-radius: 10px;
  width:130px;
  height:25px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.color{
  display: flex;
  gap:2px;
}
#color1{
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: rgb(65, 73, 55);
}

#color2{
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: rgb(121, 114, 126);
}



#right{
  width: 100%;
  height: 100%;
  border:2px solid red;
}



#right img{
  /* object-fit: contain; */
  width: 80%;
  padding:40px;
}

#right-top{
  display: flex;
  justify-content: space-between;

}

#aside{
  border: 1px solid blue;
  transform: rotate(-90deg);
  display: inline-block;
  width:fit-content;
  position: absolute;
  left: 0;
  top: 49%;
}

#image{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}


