    form label {
    font-weight: bold;
    }

    form div {
        display: flex;
        flex-direction: column; /* vertical alignment */
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px; /* spacing between label and input */
        font-weight: bold;
    }

    input {
        padding: 5px;
        font-size: 16px;
        width: 250px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    form div label span{
        color: rgb(193, 0, 0);
    }

    .required-field::after{
       content:'*';
       color: rgb(209, 1, 1);
    }