body , ul{
    margin : 0;
    padding :0;
}

.header{
    display :flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo_title{
    display:flex;
    align-items: center;
    gap:10px;
}

.logo_title img{
    width:"3%";
    height:"3%";
    object-fit: contain;
}


.nav ul li a{
    text-decoration: none;
    color : #333;
    font-weight: 500;
    transition: color 0.2s ease;
} 

.nav ul li a:hover{
    color:rgb(78, 113, 129);
}

